:root {
  --mainicon: #fff;
  --batteryborder: #fff;
  --batterypercentage: 100%;
  --battery: #fff
}

.stopDraggingPhone {
  position: absolute;
  right: 45px;
  top: 45px;
  z-index: 9999999999999;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: #ccc;
  display: none;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  cursor: pointer
}

#phone-information-notes,
#phone-information-number {
  color: var(--text-color) !important;
}

#charging {
  display: none;
  font-size: 12px;
  z-index: 2
}

#total-contacts {
  position: relative;
  font-size: 11px;
  top: -28px;
  color: rgba(0, 0, 0, 0.75)
}

.phone-app-footer {
  position: absolute;
  height: 10%;
  width: 100%;
  bottom: 0;
  z-index: 3;
  background: var(--dark-background-color)
}

.phone-app-footer-button {
  position: relative;
  height: 100%;
  width: 25%;
  text-align: center;
  line-height: 45px;
  float: left;
  color: var(--text-color);
  transition: .1s;
  cursor: pointer
}

.phone-app-footer-button img {
  height: 26px;
  width: 26px
}

.phone-app-footer-button p {
  position: relative;
  font-size: 13px;
  bottom: 16px
}

.phone-contacts {
  display: block;
  position: absolute;
  height: 90%;
  width: 100%;
  overflow: auto
}

.phone-alphabet-list {
  position: fixed;
  right: 4px;
  display: flex;
  flex-direction: column;
  top: 55%;
  transform: translateY(-50%);
  gap: 1px;
  font-weight: bold;
  align-items: center
}

.phone-alphabet-list-item {
  font-size: 12px;
  cursor: pointer;
  color: #1e7ee5
}

.phone-keypad {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0
}

.phone-keypad-container {
  scale: 0.9;
  grid-template-columns: 25% 25% 25%
}

.phone-keypad-container div {
  background: var(--phone-keypad-background);
}

.phone-keypad-container a {
  font-weight: 600
}

#keypad-delete,
#phone-keypad-add {
  opacity: 0
}

:is(#keypad-delete.active, #phone-keypad-add).active {
  opacity: 1
}

.phone-recent {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0
}

.phone-recent-title {
  position: relative;
  top: 80px;
  left: 15px;
  font-size: 32px;
  font-weight: 600
}

.phone-recent-calls::-webkit-scrollbar {
  display: none
}

.phone-recent-calls {
  position: absolute;
  width: 100%;
  height: 664px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 130px;
  overflow-x: hidden;
  overflow-y: scroll
}

.phone-recent-call {
  position: relative;
  height: 55px;
  width: 100%;
  border-bottom: 2px solid var(--second-border-color)
}

.phone-recent-call i {
  position: absolute;
  color: var(--dark-item-icon);
  padding: 15px;
  top: 5px
}

.phone-recent-call-name {
  position: absolute;
  top: 19px;
  left: 55px;
  color: var(text-color);
  font-weight: 600
}

.phone-recent-call-time {
  position: absolute;
  bottom: 20px;
  right: 15px;
  font-size: 15px;
  color: var(--dark-item-icon)
}

#contact-search {
  display: none;
  position: absolute;
  background: none;
  border: none;
  background: rgb(226, 226, 226);
  top: 7px;
  width: 157px;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  height: 25px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.281);
  outline: none;
  text-indent: 10px;
  z-index: 100
}

.phone-contact-list::-webkit-scrollbar {
  width: 4px
}

.phone-contact-list::-webkit-scrollbar-thumb {
  background-color: #686de0
}

.phone-contact-list::-webkit-scrollbar-track {
  background-color: #ebebeb
}

.phone-contact-list {
  position: absolute;
  height: 92%;
  top: 45px;
  width: 95%;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden
}

.phone-contact {
  position: relative;
  width: 99%;
  left: 3px;
  height: 45px;
  margin-top: 1px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(206, 206, 206);
  border-radius: 19px
}

.phone-contact-firstletter {
  position: absolute;
  height: 32px;
  width: 32px;
  margin: 5px;
  margin-left: .55px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  color: white
}

.phone-contact-name {
  position: absolute;
  left: 46px;
  line-height: 45px;
  font-size: 13px
}

.phone-contact-actions {
  position: absolute;
  right: 0;
  top: 3px;
  right: 19px;
  font-size: 20px;
  transition: .1s
}

.phone-contact-actions:hover {
  color: #e74c3c
}

.phone-contact-action-buttons {
  display: none;
  position: absolute;
  bottom: 12px;
  height: 46px;
  width: 95%;
  margin: 0 auto;
  left: 0;
  right: 0
}

.phone-contact-action-buttons>i {
  position: relative;
  float: left;
  margin-left: 29px;
  left: -2px;
  top: 10px;
  font-size: 22px;
  color: rgb(44, 44, 44);
  transition: .1s
}

.phone-contact-action-buttons>i:hover {
  color: #eb4d4b
}

.phone-add-contact {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  z-index: 102
}

.phone-edit-contact {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  z-index: 102
}

.phone-edit-contact-header {
  padding-top: 55px;
  padding-left: 29px;
  font-size: 19px
}

.phone-call-app {
  display: none;
  height: 100%;
  width: 100%;
  -webkit-animation: AnimationName 35s ease infinite;
  -moz-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;
  overflow: hidden;
  padding-top: 7rem
}

.phone-call-incoming {
  display: none;
  height: 100%;
  width: 100%
}

.phone-call-incoming-title {
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff6c
}

.phone-call-incoming-caller {
  position: relative;
  top: 60px;
  text-align: center;
  color: white;
  font-size: 29px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

#incoming-answer {
  position: absolute;
  bottom: 100px;
  left: 50px;
  background-color: #2ecc70e5;
  color: #fff;
  padding: 21px;
  padding-top: 23px;
  font-size: 28px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer
}

#incoming-deny {
  position: absolute;
  bottom: 100px;
  right: 50px;
  background-color: #e74d3ce0;
  color: #fff;
  padding: 19px;
  padding-top: 22px;
  font-size: 28px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer
}

.phone-call-outgoing {
  display: none;
  height: 100%;
  width: 100%
}

.phone-call-outgoing-title {
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 18px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff6c
}

.phone-call-outgoing-caller {
  position: relative;
  top: 60px;
  text-align: center;
  color: white;
  font-size: 29px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

#outgoing-cancel {
  position: absolute;
  bottom: 100px;
  margin: 0 auto;
  left: 40.8%;
  transform: rotate(-135deg);
  color: #fff;
  background-color: #e74c3c;
  padding: 18px;
  padding-top: 20px;
  font-size: 28px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  transition: background-color .1s ease-in-out;
  animation: pulse 2s infinite;
  cursor: pointer
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8)
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0)
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4)
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0)
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

.phone-call-ongoing {
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 150px
}

.phone-call-ongoing article {
  position: relative;
  top: 100px;
  width: 80%;
}

.phone-call-ongoing article a {
  color: white;
}

.phone-call-ongoing header {
  position: relative;
  top: 70px;
}

.phone-call-ongoing-caller {
  text-align: center;
  color: white;
  font-size: 28px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.phone-call-ongoing-time {
  position: relative;
  text-align: center;
  font-size: 19px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff6c
}

#ongoing-cancel {
  position: relative;
  top: 130px;
  color: #fff;
  background-color: #e74c3c;
  padding: 19px;
  padding-top: 20px;
  font-size: 28px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer
}

.favourite-contact {
  height: 70px;
  border-bottom: 1px solid var(--dark-border-color) !important
}

.favourite-contact img {
  height: 50px;
  width: 50px
}

.favourite-contact div {
  padding: 10px;
  font-size: 15px
}

.favourite-contact .fa-phone {
  font-size: 12px
}

.phone-suggestedcontacts {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0
}

.c {
  margin-left: -138px;
  font-size: 12px !important;
  margin-top: -45px
}

.b {
  margin-top: -58px;
  margin-left: 180px
}

#favorites-contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  max-height: 79%;
  overflow-y: auto;
  gap: 15px
}

.signal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 18px;
  height: 10px;
  position: relative;
  overflow: hidden
}

.signal.mid:before {
  opacity: .4
}

.signal.low:before,
.signal.low:after,
.signal.low .bar::before {
  opacity: .4
}

#phone-notConnection {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999999999999999999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#phone-notConnection article {
  width: 300px;
  background-color: var(--container-dark-background-color);
  border-radius: 10px;
  text-align: center;
}

#phone-notConnection h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  color: var(--text-color);
}

#phone-notConnection p {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: var(--text-color);
}

#phone-notConnection button {
  width: 100%;
  background-color: transparent;
  color: var(--blue-text);
  font-size: 18px;
  border: none;
  border-top: 1px solid var(--border-light-color);
  border-radius: 0 0 10px 10px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


#phone-notConnection button:hover {
  background-color: var(--border-color);
}

.signal:before,
.signal:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 3px;
  border-radius: 5px;
  background-color: var(--mainIcon)
}

.signal:before {
  right: 0;
  height: 100%
}

.signal:after {
  right: 4px;
  height: 80%
}

.signal .bar:before,
.signal .bar:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 3px;
  border-radius: 5px;
  background-color: var(--mainIcon)
}

.signal .bar:before {
  right: 8px;
  height: 60%
}

.signal .bar:after {
  right: 12px;
  height: 40%
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#phone-app-contacts-plus {
  right: 10px;
  top: 7%;
  width: 25px;
  height: 35px;
  cursor: pointer
}

#phone-app-contacts-head {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  padding: 7rem 12px 5px
}

#phone-app-contacts-head a {
  font-weight: 600
}

#phone-app-contacts-body {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px
}

#phone-app-contacts-body::-webkit-scrollbar {
  display: none !important
}

.phone-app-contacts-body-alphabetiC-body {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7%;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer
}

.phone-app-contacts-body-contact {
  font-size: 18px;
  color: var(--text-color)
}

.customLine {
  position: relative;
  width: 100%;
  right: 3.5%;
  margin-top: 15px;
  border-bottom: 1px solid #e7e7e7
}

:is(#phone-app-newcontact, #contacts-app-newcontact) {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--container-dark-background-color);
  left: -322px
}

textarea {
  background: none;
  border: none;
  outline: none
}

.phone-app-cancel {
  position: absolute;
  left: 15px;
  top: 7%;
  color: #3291fe;
  cursor: pointer
}

:is(.phone-app-done, .contacts-app-done) {
  position: absolute;
  right: 15px;
  top: 7%;
  cursor: pointer;
  color: #9b9b9b
}

:is(#phone-app-newcontact-image, #phone-app-viewContact-image, #contacts-app-viewContact-image, #contacts-app-newcontact-image) {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin-bottom: 10px;
  background-size: cover
}

#phone-app-newcontact-imageContainer,
#phone-app-viewContact-imageContainer {
  position: absolute;
  top: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  color: #3291fe
}

#phone-app-newcontact-imageContainer a {
  color: var(--blue-text)
}

#phone-app-viewContact-imageContainer a {
  color: var(--text-color) !important
}

#phone-app-newcontact-body {
  position: absolute;
  top: 35%;
  width: 100%
}

.phone-app-newcontact-bodyContainer {
  position: relative;
  width: 100%;
  background-color: var(--dark-input-color);
  border-top: 1px solid var(--second-border-color)
}

.phone-app-newcontact-bodyContainerName {
  position: relative;
  top: 12px;
  left: 10px;
  width: 90%;
  height: 80%
}

.phone-app-contacts-searchArea {
  font-size: 18px;
  background: var(--common-input-background) !important;
}

.phone-app-contacts-searchArea i {
  position: relative;
  top: 4px
}

#phone-app-newcontact-right {
  position: absolute;
  float: right;
  right: 5px;
  transition: all .4s
}

#ringtones {
  position: absolute;
  top: 46px;
  width: 100%
}

:is(#phone-app-viewContact, #contacts-app-viewContact) {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: -322px;
  background-color: var(--contacts-background-view);
  z-index: 999999
}

#back_icon {
  margin-top: 5px;
  margin-left: 5px;
  filter: invert(44%) sepia(56%) saturate(6757%) hue-rotate(196deg) brightness(105%) contrast(103%)
}

#phone-app-viewContact *a {
  text-decoration: none
}

#back-container {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 5%;
  z-index: 99999;
  color: var(--text-color)
}

#back-container a {
  color: white
}

#phone-app-viewContactActions {
  position: absolute;
  top: 34%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 94%;
  left: 10px;
}

.phone-app-viewContactActionsFastIcons {
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
  filter: invert(60%) sepia(62%) saturate(5246%) hue-rotate(194deg) brightness(101%) contrast(99%)
}

.phone-app-viewContactActionsFast {
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: var(--contacts-background-boxes);
  text-align: center;
  justify-content: center;
  margin: 0 5px;
  align-items: center;
  color: #3291fe;
  border-radius: 8px;
  cursor: pointer
}

.phone-app-viewContactActionsFast a {
  font-size: 14px;
}

.phone-app-viewContactActionsFast a,
#phone-app-numberInformation a,
#phone-app-noteInformation a {
  text-decoration: none;
  color: var(--blue-text)
}

#phone-app-numberInformation {
  position: absolute;
  top: 44%;
  width: 92.5%;
  height: 7%;
  background-color: var(--contacts-background-boxes);
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 14px;
  border-radius: 8px
}

#phone-app-noteInformation {
  position: absolute;
  top: 53%;
  width: 92.5%;
  height: 15%;
  background-color: var(--contacts-background-boxes);
  display: flex;
  flex-direction: column;
  overflow: auto;
  left: 14px;
  border-radius: 8px
}

#phone-app-fastActions-container {
  position: relative;
  top: 70%;
  width: 92.5%;
  display: flex;
  flex-direction: column;
  background-color: var(--contacts-background-boxes);
  left: 14px;
  border-radius: 8px;
  color: #3291fe
}

.phone-app-fastActions {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  color: red;
  cursor: pointer
}

.phone-app-fastActions:not(:last-child) {
  border-bottom: 1px solid var(--second-border-color)
}

.phone-app-fastActions a {
  font-size: 17px;
  margin-left: 10px
}

#phone-call-ongoing-toggle-microphone {
  position: absolute;
  align-self: center;
  bottom: 46px;
  right: 5%;
  color: #fff;
  background-color: #666;
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  transition: background-color .1s ease-in-out;
  animation: pulse 2s infinite
}

#phone-call-ongoing-toggle-speaker {
  position: absolute;
  align-self: center;
  bottom: 110px;
  right: 5%;
  color: #fff;
  background-color: #666;
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  transition: background-color .1s ease-in-out;
  animation: pulse 2s infinite
}

#phone-call-ongoing-videocall-close {
  position: absolute;
  align-self: center;
  bottom: 29px;
  left: 5%;
  color: #fff;
  background-color: #ff0000;
  padding: 15px;
  font-size: 25px;
  border-radius: 50%;
  transition: background-color .1s ease-in-out;
  animation: pulse 2s infinite
}

#ongoing-cancel:hover {
  transition: .2s
}

#local-video {
  position: absolute;
  right: 10px;
  bottom: 65px;
  width: 15rem;
  height: 21rem;
  border-radius: 6px;
  display: block
}

#remote-video {
  position: absolute;
  object-fit: fill;
  display: none;
  top: 0
}

.phone-call-videocall {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1
}

#swap-cam {
  position: absolute;
  top: 175px;
  right: 19px;
  background-color: #137b6c;
  border: none;
  width: 29px;
  color: white;
  height: 19px;
  z-index: 2
}

#vaid-video {
  display: none;
  position: absolute;
  top: 221px;
  font-size: 90px;
  right: 100px;
  color: white
}

#phone-old-notification-container {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, -100%);
  top: 7%;
  z-index: 999999999999999999999999999999;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-property) all .4s;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 18px;
  background-color: var(--notification-lockscreen)
}

.phone-old-notification-header {
  position: absolute;
  display: flex;
  width: 95%;
  height: 60%;
  align-items: flex-start;
  gap: 80%
}

.phone-old-notification-header img {
  height: 38px;
  width: auto;
  border-radius: 8px
}

.notification-timer {
  position: relative;
  bottom: 5px;
  right: 5px;
}

.phone-old-notification-information {
  margin-left: 13%;
  width: 17vw
}

#phone-old-notification-container.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, 0%)
}

.notification-title {
  font-weight: 600
}

.notification-title,
.phone-old-notification-gray {
  color: var(--text-color-old-notification)
}

.phone-old-notification-gray {
  font-size: 15px !important;
}

#phone-app-contacts-body,
#contacts-app-contacts-body {
  padding: 15px
}

#phone-app-contacts-body header a,
#contacts-app-contacts-body header a {
  color: gray;
  font-weight: bold;
  font-size: 15px;
}

.phone-contact-my-card {
  width: 97%;
  margin: 0 auto;
}

.contacts-app .phone-contacts {
  display: block;
  position: absolute;
  height: 98%;
  width: 100%;
  overflow: auto
}

.phone-contacts-list {
  border-bottom: 1px solid var(--dark-background-color);
  margin-bottom: 5px
}

.phone-contacts-list a {
  font-size: 17px;
  border-bottom: 1px solid var(--dark-background-color)
}

.strong-letters {
  font-size: 15px;
  font-weight: bold
}

.phone-app-footer-button[data-phonefootertab="contacts"] .blue-text {
  color: #3291fe
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4)
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0)
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
  }
}