.weather-app {
	background: url(../../img/weather_app/night_wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.weather-app *,
.weather-app a,
.weather-app i {
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}


.weather-degree {
	font-size: 5rem;
}

.weather-name {
	position: absolute;
	left: 65px;
	color: #ee5253;
	line-height: 65px;
}

#weather-container {
	display: flex;
	flex-direction: column;
	padding: 24px;
	width: 100%;
	gap: 12px;
}

.weather-tomorrow {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 12px;
	background: rgba(255, 255, 255, 0.31);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}

.weather_container {
	background: rgba(255, 255, 255, 0.31);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	padding: 12px;
	gap: 8px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.weather_container>div>header {
	display: flex;
	flex-direction: row;
	gap: 6px;
}

.weather_container>div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.weather-header {
	position: absolute;
	width: 100%;
	height: 65px;
	top: 0;
	color: #fff;
	font-size: 17px;
}

.ic h2 {
	font-size: 16px;
	color: white;
	position: relative;
	top: 10px;
}

.weather-widget {
	justify-content: space-between;
	align-items: flex-start;
	color: white;
    background: linear-gradient(to bottom, #0a4e8f, #508fd2);
}